{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}


<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/event_data/',
            eventClick: function(info) {
                    window.location.href = '/event/' + info.event.id + '/';
            }
        });
        calendar.render();
    });
</script>

<h1>Calendar</h1>
<a href="{% url 'add_event' %}" class="btn btn-primary mb-3">Add Event</a>
<div id="calendar"></div>

{% endblock %}