{% extends "base.html" %}

{% block title %}Client List{% endblock %}

{% block content %}
<h1 class="my-4">Client List</h1>
<a href="{% url 'add_client' %}" class="btn btn-primary mb-3">Add Client</a>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Service Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td><a href="{% url 'client_details' client.pk %}">{{ client.name }}</a></td>
            <td>{{ client.email }}</td>
            <td>{{ client.contact_number }}</td>
            <td>{{ client.service_type }}</td>
            <td>
                <a href="{% url 'update_client' client.pk %}" class="btn btn-primary btn-sm">Update</a>
                <a href="{% url 'delete_client' client.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
