{% extends "base.html" %}

{% block title %}Add New Template{% endblock %}

{% block content %}


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        width: 60%;
        margin: 20px auto;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-top: 10px;
    }

    input,
    textarea {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        width: 100%;
    }

    .btn {
        margin-top: 20px;
        padding: 10px 20px;
        color: white;
        background-color: #0343b2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-start;
    }
</style>

<div class="container">
    <h1>Add New Template</h1>
    <form method="POST" >
        {% csrf_token %}
        <label for="title">Template Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Template Content:</label>
        <textarea id="content" name="content" rows="10" required></textarea>

        <button type="submit" class="btn">Save Template</button>
    </form>
</div>



{% endblock %}