{% extends 'base.html'%}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
   
    <header>
        <h1>NotifyNow</h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'calendar' %}">Calendar</a>
            <a href="{% url 'reminders' %}">Reminders</a>
        </nav>
    </header> -->
    {% block content %}
    <title>Settings</title>
    <main>
        <h2>Settings</h2>
       
    </main>
    {% endblock %}
<!-- </body>
</html> -->
