{% extends "base.html" %}

{% block title %}Template List{% endblock %}

{% block content %}



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin: 10px 0;
    }

    .btn-primary {
        background-color: #0343b2;
    }

    .btn-secondary {
        background-color: #0343b2;
    }

    .btn-danger {
        background-color: #0343b2;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table,
    th,
    td {
        border: 1px solid #dddddd;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .actions {
        display: flex;
        gap: 10px;
    }
</style>

<div class="container">
    <h1>Template List</h1>
    <a href="{% url 'create_template' %}" class="btn btn-primary">Add New Template</a>
    <table>
        <thead>
            <tr>
                <th>Template Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr>
                <td><a href="{% url 'template_details' template.id %}">{{ template.title }}</a></td>
                <td class="actions">
                    <a href="{% url 'update_template' template.id %}" class="btn btn-secondary">Update</a>
                    <a href="{% url 'delete_template' template.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}